.App{
  background-color:white;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}

.fira {
  font-family: 'Fira Sans', sans-serif;
}

h5 h4 h3 h2 h1 p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


:root {
  --mainBlack: #333333;
  --mainPink: #FF227F;
}

.selected {
  color: #ff0000;
}